@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

Body{
    height: 100vh;
    background-color: #550634;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav img{
    margin: 10px;
    width: 100px;
    height: 100px;
}

nav h1{
    padding: 30px;
    align-items: center;
    color: #fff;
}
nav h3{
    padding: 30px;
    align-items: center;
    color: #fff;
}

.Pendahuluan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Pendahuluan .Text-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Pendahuluan .Text-content h2{
    margin: 10px;
    color: #fff;
}

.Pendahuluan .Text-content p{
    font-size: 20px;
    color: #fff;
}

.Pendahuluan .Photo-1 {
    width: 40%;
    text-align: center;
}

.Pendahuluan .Photo-1 img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.Pendahuluan .Photo-1 h5 {
    color: #fff;
}

h2{
    margin: 20px;
    color: #fff;
}

.galery{
    padding: 25px;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); /* 3 kolom dengan lebar yang sama */
    gap: 10px; /* Spasi antar gambar */
}

.galery img .Gede{
    height: auto;
    padding: 10px;
    cursor: pointer;
}

.galery img {
    width: 500px; /* Gambar mengisi seluruh kolom */
    height: auto;
    cursor: pointer;
    border-radius: 30px;
}

.Isi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Isi .Isi-awal h2{
    margin: 10px;
    font-size: 20px;
    color: #fff;
}

.Isi .Isi-awal p{
    font-size: 15px;
    color: #fff;
}

.Isi .Isi-Tengah p{
    margin: 5px;
    font-size: 20px;
    color: #fff;
}

.Isi .Isi-Akhir p{
    margin: 5px;
    font-size: 20px;
    color: #fff;
}

h3{
    padding: 10px;
    margin: 5px;
    color: #fff
}

h3 a{
    color: rgb(98, 148, 255);
    text-decoration: none;
}

@media(max-width: 750px){
    nav {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    
    nav img{
        width: 75px;
        height: 75px;
    }

    nav h1{
        padding: 15px;
        font-size: 15px;
        align-items: center;
        color: #fff;
    }

    nav h3{
        padding: 15px;
        font-size: 10px;
        align-items: center;
        color: #fff;
    }

    .Pendahuluan .Text-content p{
        font-size: 15px;
        color: #fff;
    }
    .Isi .Isi-awal h2{
        margin: 10px;
        font-size: 20px;
        color: #fff;
    }

    .Isi .Isi-awal p{
        font-size: 15px;
        color: #fff;
    }

    .Isi .Isi-Tengah p{
        margin: 5px;
        font-size: 15px;
        color: #fff;
    }

    .Isi .Isi-Akhir p{
        margin: 5px;
        font-size: 15px;
        color: #fff;
    }
    
    .galery{
        padding: 25px;
        display: flex;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr); /* 3 kolom dengan lebar yang sama */
        gap: 5px; /* Spasi antar gambar */
    }
    
    .galery img {
        width: 300px; /* Gambar mengisi seluruh kolom */
        height: auto;
        cursor: pointer;
        border-radius: 30px;
    }
}

@media(max-width: 550px){
    nav {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }
    
    nav img{
        width: 50px;
        height: 50px;
    }

    nav h1{
        padding: 15px;
        font-size: 10px;
        align-items: center;
        color: #fff;
    }

    nav h3{
        padding: 15px;
        font-size: 5px;
        align-items: center;
        color: #fff;
    }

    .Pendahuluan {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .Pendahuluan .Text-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .Pendahuluan .Text-content h2{
        margin: 10px;
        font-size: 20px;
        color: #fff;
    }
    
    .Pendahuluan .Text-content p{
        font-size: 10px;
        color: #fff;
    }
    
    .Pendahuluan .Photo-1 {
        width: 40%;
        text-align: center;
    }
    
    .Pendahuluan .Photo-1 img {
        width: 100%;
        max-width: 100px;
        height: auto;
        border-radius: 10px;
    }
    
    .Pendahuluan .Photo-1 h5 {
        color: #fff;
        font-size: 10px;
    }
    
    h2{
        margin: 20px;
        font-size: 20px;
        color: #fff;
    }
    
    .Isi {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .Isi .Isi-awal h2{
        margin: 10px;
        font-size: 20px;
        color: #fff;
    }

    .Isi .Isi-awal p{
        font-size: 10px;
        color: #fff;
    }

    .Isi .Isi-Tengah p{
        margin: 5px;
        font-size: 10px;
        color: #fff;
    }

    .Isi .Isi-Akhir p{
        margin: 5px;
        font-size: 10px;
        color: #fff;
    }

}